html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        link(rel='stylesheet', type='text/css', href='css/uikit.css')
        link(rel='stylesheet', type='text/css', href='css/styles.css')
    body
        header
            include include/player
            include include/filter

        input#sourcePath(type='file', nwdirectory='', data-bind='event: {change: source.onPathChange}')
        input#targetPath(type='file', nwdirectory='', data-bind='event: {change: target.onPathChange}')
        input#editor-executable-file(type='file', data-bind='event: {change: function(){$root.config.saveEditorExecutableFileDialog()}}', style='display:none')

        .main-columns
            // SOURCE BOX
            .column
                h2.column-headline(data-bind='click: selectSourcePath, event: {contextmenu: onSourceRightclick}')
                    span.linkedIcon.leftButton(title='Switch list/table mode', data-bind="css: {'uk-icon-bars': !config.floatingList(), 'uk-icon-ellipsis-h': config.floatingList}, click: switchListMode, clickBubble: false")
                    | Source
                    span.filesAndDirStats(data-bind='pathWatcherInfo: source')
                    span.uk-icon-refresh.rightButton.linkedIcon(title='Refresh', data-bind="click: source.reload, clickBubble: false, css: {'uk-icon-spin': source.isLoading}")
                    span.path(data-bind='text: source.path')
                .col-content(data-bind="css: {'spinner-round': source.isLoading}, abortLoadingOnClick: source, event: {contextmenu: stopAudio}, click: onSourceListClick")
                    .scrollable-container
                        .aborted(data-bind='visible: source.aborted') aborted
                        .invalid-path(data-bind='visible: source.invalidPath') invalid path
                        ul#sourceList.file-list(data-bind='css: {asFloatingList: config.floatingList, asTable: !config.floatingList(), showFilesize: config.showFilesize, showCDate: config.showCDate}, click: onSourceFileClicked, event: {contextmenu: onSourceFileRightClicked}, clickBubble: false, foreach: source.files')
                            li.file(draggable='true', dropzone='copy', data-bind="filteredFile: {hiddenIds1: $root.hiddenFileIdsByFilter, hiddenIds2: $root.hiddenFileIdsByDuplicateFilter}, attr: {'data-id': id, title: $root.config.filePathTooltip() && path}, css: {file: true, playing: ($root.filePlaying() && $data.id === $root.filePlaying().id)}")
                                span.filename(data-bind='text: filename')
                                span.filesize(data-bind='text: formattedFilesize')
                                span.cdate(data-bind='text: formattedCDate')
            // /SOURCE BOX
            // TARGET BOX
            .column
                h2.column-headline(data-bind='click: selectTargetPath, event: {contextmenu: onTargetRightclick}')
                    | Target
                    span.filesAndDirStats(data-bind='pathWatcherInfo: target')
                    span.uk-icon-refresh.rightButton.linkedIcon(title='Refresh', data-bind="click: target.reload, clickBubble: false, css: {'uk-icon-spin': target.isLoading}")
                    span.path(data-bind='text: target.path')
                .col-content(data-bind="css: {'spinner-round': target.isLoading}, abortLoadingOnClick: target")
                    .scrollable-container
                        .aborted(data-bind='visible: target.aborted')
                            | aborted
                            span.maxDirsExceeded(data-bind='visible: target.maxDirsExceeded') limit reached
                        .invalid-path(data-bind='visible: target.invalidPath') invalid path
                        ul#directoryList.dir-list(data-bind='foreach: target.directories')
                            li(data-bind="style: {'paddingLeft': 15 * $data.depth + 'px'}")
                                .dir(data-bind='text: $data.name, css: {subdir: $data.depth}, attr: {id: elemId}')
            // /TARGET BOX

        footer.footer
            include include/footer

        include include/modalDialog
        include include/infoDialogTpl
        include include/confirmDialogTpl
        include include/copyMoveFilesDialog
        include include/deleteFilesDialogTpl
        include include/renameFilesDialogTpl
        include include/createSubdirDialogTpl
        include include/renameDirDialogTpl

        script.
            window.require('./js/App').run();
