.dialog__dialog#dialog(style='display:none', data-bind='if: dialogManager.templateToRender')
    .dialog__contentWrap(data-bind='style: {width: dialogManager.dialog().settings.modalWidth}')
        div(data-bind='visible: dialogManager.dialog().settings.showCloseButton')
            span.dialog__close(data-bind='css: dialogManager.dialog().settings.modalCloseClass')
                | X
        .dialog__content(data-bind='template: {name: dialogManager.templateToRender(), data: dialogManager.dialog}')

