.player.column(data-bind='event: {contextmenu: stopAudio}')
    b.player__filename(data-bind="css: {'player__filename--nonempty': !!filePlaying()}, text: (filePlaying() ? filePlaying().filename : 'No file selected'), click: scrollToPlayedFile")
    audio.player__audio(controls='', data-bind="attr: {src: filePlaying() ? filePlaying().path : '', autoplay: config.autoplay}")