#player.column(data-bind='event: {contextmenu: stopAudio}')
    b.player-filename(data-bind="css: {nonempty: !!filePlaying()}, text: (filePlaying() ? filePlaying().filename : 'No file selected'), click: scrollToPlayedFile")
    audio#innerplayer(controls='', data-bind="attr: {src: filePlaying() ? filePlaying().path : '', autoplay: config.autoplay}")